block variables 

doctype html 
html 
    head 
        meta(charset= "utf-8")
        title #{title}
        block scripts 
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&display=swap" rel="stylesheet">
            link(rel="stylesheet", type="text/css", href="/styles.css")
    body  
        header
             nav
                ul 
                  div.flex  
                        div 
                            li 
                            a(href="./", class="linkColor") Home
                        div 
                            li 
                            a(href="./F1", class="linkColor") F1 Schedule
                        div 
                            li 
                            a(href="./pointsTable", class="linkColor")  Soccer Standings 
    h1.textAlign.headingF Soccer Standings 
    h3.textAlign Enter the name of the league you want to know standing of 
    ul 
      each m in standings 
        li 
          div.teamFlex
            div 
              div Position: #{m.Position}  
              div Team:  #{m.Name}  
              div Points: #{m.Points}
              div Games Played: #{m.  Played}
              div Games Won: #{m.Winned}
              div Games Lost: #{m.Loosed}
              div Tie: #{m.Tie} 
              <hr>

    footer#footer 
        p &copy; Copyright HTTP5211, 2023.
          